body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

a:link 
{ 
 text-decoration:none; 
} 

a:hover
{
    color: #0065FC;
    border-top: 5px #0065FC solid;
    padding-top: 25px;
}

a
{
    color: black;
}

#centrage
{
    max-width: 1300px;
}

.Marge
{
    padding-right: 30px;
    padding-left: 30px;
}

.LogoTitre
{
    width: 97px;
    height: 45px;
}

#Intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Navigation
{
    display: flex;
    line-height: 31px; 
    flex-direction: row;
    list-style: none;
    margin-left: 50%;
    width: 20%;
    justify-content: space-between;
    
}

.Inscription
{
    font-weight: bold;
    color: #0065FC;
    line-height: 30px;
}

h1 
{
    color:black;
    font-size: 20px;
}

#Barre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    width: 20%;
    background-color: white;
    height: 50px;
}

.logo1
{
    background-color: #F2F2F2;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.recherche
{
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.fa-search
{
    display: none;
}

input[type="search"]
{
    height: 52px;
    border: 1px #F2F2F2 solid;
}

#Filtres
{
    display: flex;
    flex-direction: row;
    
    height: 54px;
}

.Gras
{
    font-weight: bold;
    margin-right: 20px;
}

.FiltrePosition
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px #F2F2F2 solid;
    border-radius: 70px;
    background-color: white;   
    padding-right: 20px;
    margin-right: 20px;
}

.FiltreLogo
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #F2F2F2;
    margin-right: 20px;
    font-size: 20px;
    padding-right: 1px;
}
#Infos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 37%;
}

.logoi
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

#Partie1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 620px;
}

h2
{
    font-size: 17px;
    padding-left: 20px;
}

#Activité
{
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h3
{
    font-size: 14px;
    margin-left: 5px
}

.h3b2
{
    margin-left: 15px;
}

.TexteImage
{
    font-size: 12px;
    margin-left: 5px;
}

.img1
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}
#Bloc1
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    width: 60%
    
}
.BlocType
{
    line-height: 5px;
    border: 3px white solid;
    width: 28%;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: 6px 6px 30px grey;
}

#Stars
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: -14px;
    margin-left: 5px;
}

.FullStars
{
    color: #0065FC;
}

.EmptyStars
{
    color: #F2F2F2;
}

.AlignImages
{
    display: flex;
    flex-direction: row;
}

.BottomBlock1
{
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
}
.TitleAlign
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoflèche
{
    margin-right: 20px;
}

#Bloc2
{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
}

.BlocType2
{
    background-color: white;
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 20px 20px;
    margin: 25px;
    height: 110px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 30px grey;
    width: 80%;
}

.AlignImage2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img2
{
    border-radius: 20px 0px 0px 20px;
    width: 35%;
    height: 110px;
    object-fit: cover;  
}

.txtalign2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.TexteImage2
{
    font-size: 12px;
    margin-left: 15px;
    margin-top: -8px;
}

#Stars2
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 15px;    
}

.CadreType1
{
    line-height: 5px;
    border: 3px white solid;
    width: 20%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 30px grey;
    margin-bottom: 40px;
}

.imagedimension
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.imagedimension2
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.CadreType2
{
    line-height: 5px;
    border: 3px white solid;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 30px grey;
    margin-bottom: 40px;
}

.Colonne
{
    width: 20%;
}

#Partie2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#footbox {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

footer
{
    background-color: #F2F2F2;
}

h4
{
    font-size: 14px;
}

.pbox
{
    font-size: 14px;
    line-height: 30px;
}











@media all and (max-width: 1080px)
{
    #Intro
    {
        display: flex;
        flex-direction: row; 
        align-items: center;
        margin-top: -80px;
    }

    .LogoTitre
    {
        width: 300px;
        height: 150px;
    }

    .Inscription
    {
        font-size: 50px;
    }

    .Menu
    {
        font-size: 50px;
    }

    h1
    {
        font-size: 50px;
        margin-top: 80px;
        text-align: center;
    }

    .soustitre
    {
        text-align: center;
        margin-top: 70px;
    }

    .textei
    {
        font-size: 30px;
    }
    
    p
    {
        font-size: 25px;
    }

    .Navigation
    {
        margin-top: 350px;
        margin-left: -845px;
    }

    a
    {
        margin-right: 100px;
        margin-left: 87px;
    }

    a:hover
    {
        color: #0065FC;
        border-bottom: 5px #0065FC solid;
        border-top: none;
    }

    #Barre
    {
        margin-top: 150px;
        display: flex;
        align-items: center;
        transform:scale(2.5);
        margin-left: 180px;
        margin-bottom: 30px;
    }

    .logo1
    {
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .recherche
    {
        font-size: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .recherche-mot
    {
        display: none;
    }

    .fa-search
    {
        display: flex;
    }

    #Filtres
    {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .FiltrePosition
    {
        font-size: 40px;
        height: 120px;
        margin-bottom: 40px;
        border-radius: 100px;
        border: 5px #F2F2F2 solid;
        width: 70%;
    }

    .FiltreLogo
    {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        margin-right: 60px;
    }

    #Infos
    {
        margin-top: 755px;
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: left;
    }

    .logoi
    {
        font-size: 40px;
        border: 2px #F2F2F2 solid;
        border-radius: 100px;
        width: 70px;
        height: 70px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .Gras
    {
        font-size: 40px;
        margin-bottom: 50px;
    }

    #Partie1
    {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 440%;
    }

    #Bloc2
    {
        width: 95%;
        margin-bottom: 5%;
    }

    #Bloc1
    {
        width: 95%;
       
    }

    .AlignImages
    {
        display: flex;
        flex-direction: column;
    }

    .BlocType
    {
       width: 90%;
       height: 450px;
       border: 10px white solid;
       margin-left: 30px;
       border-radius: 60px;
    }

    .img1
    {
        height: 300px;
        border-radius: 60px 60px 0px 0px;
    }

    .img2
    {
        border-radius: 60px 0px 0px 60px;
        height: 250px;
    }

    .TitreImage
    {
        font-size: 40px;
    }

    .TexteImage
    {
        font-size: 30px;
    }

    #Stars
    {
        font-size: 30px;
    }

    .BottomBlock1
    {
        font-size: 30px;
    }

    #Partie2
    {
        display: flex;
        flex-direction: column;
    }

    .logoflèche
    {
        font-size: 40px;
    }

    h2
    {
        font-size: 3rem;
    }

    #Activité
    {
        font-size: 25px;
        margin-top: 40px;
        margin-left: 15px;
        margin-bottom: 40px;
    }

    .TitreImage2
    {
        font-size: 40px;
    }

    .TexteImage2
    {
        font-size: 30px;
    }

    #Stars2
    {
        font-size: 30px;
    }

    .BlocType2
    {
        width: 90%;
        height: auto;
        border: 10px white solid;
        border-radius: 60px;
    }

    .CadreType1
    {
        width: 88%;
        height: 450px;
        margin-left: 40px;
        border: 10px white solid;
        border-radius: 60px;

    }
    .imagedimension
    {
        border-radius: 60px 60px 0px 0px;
        height: 350px;
    }

    .Colonne
    {
        width: 100%;
    }

    .CadreType2
    {
        width: 88%;
        height: 450px;
        margin-left: 40px;
        border: 10px white solid;
        border-radius: 60px;
    }

    .imagedimension2
    {
        height: 350px;
        border-radius: 60px 60px 0px 0px;
    }

    #footbox
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
    }

    h3
    {
        font-size: 2rem;
        margin-left: 20px;
    }

    .TexteImage
    {
        margin-left: 20px;
    }

    #Stars
    {
        margin-left: 20px;
    }

    h4
    {
        font-size: 30px;
    }

    footer
    {
        margin-top: 40px;
    }

    .box
    {
        width: 100%;
    }

    .pbox
    {
        font-size: 30px;
        line-height: 100px;
    }
}