body
{
    font-family: 'Raleway', sans-serif;
}

a:link 
{ 
 text-decoration:none; 
} 

a:hover
{
    color: #0065FC;
    border-top: 5px #0065FC solid;
    padding-top: 40px;
}

a
{
    color: black;
}

.Marge
{
    padding-right: 30px;
    padding-left: 30px;
}

#Intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Navigation
{
    display: flex;
    line-height: 60px;
    width: 30%;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

.Inscription
{
    font-weight: bold;
    color: #0065FC;
    line-height: 30px;
}

h1 
{
    color:black;
    font-size: 20px;
}

#Barre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    width: 20%;
    background-color: white;
    height: 50px;
    }

.logo1
{
    background-color: #F2F2F2;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.recherche
{
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="search"]
{
    height: 52px;
    border: 1px #F2F2F2 solid;
}

#Filtres
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

.Gras
{
    font-weight: bold;
}

.FiltrePosition
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px #F2F2F2 solid;
    border-radius: 70px;
    background-color: white;   
    justify-content: space-between;
    padding-right: 20px;
}

.FiltreLogo
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #F2F2F2;
    margin-right: 20px;
}
#Infos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 37%;
}

.logoi
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

#Partie1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 620px;
}

h2
{
    font-size: 17px;
    padding-left: 20px;
}

.TitreImage
{
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px
}

.TexteImage
{
    font-size: 12px;
    margin-left: 5px;
}

.img1
{
    border-radius: 20px 20px 0px 0px;
}
#Bloc1
{
    background-color: #F2F2F2;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
    width: 700px;
    
}
.BlocType
{
    line-height: 5px;
    border: 3px white solid;
    width: 188px;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: 6px 6px 30px grey;
}

#Stars
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: -14px;
    margin-left: 5px;
}

.FullStars
{
    color: #0065FC;
}

.EmptyStars
{
    color: #F2F2F2;
}

.AlignImages
{
    display: flex;
    flex-direction: row;
}

.BottomBlock1
{
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
}
.TitleAlign
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 360px;

}

#Bloc2
{
    background-color: #F2F2F2;
    width: 380px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

.BlocType2
{
    background-color: white;
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    width: 320px;
    border-radius: 20px 20px 20px 20px;
    margin: 25px;
    height: 110px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 30px grey;
}

.img2
{
    border-radius: 20px 0px 0px 20px;
    width: 120px;
}

.txtalign2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.TitreImage2
{
    font-weight: bold;
    font-size: 14px;
    margin-left: 15px;
}

.TexteImage2
{
    font-size: 12px;
    margin-left: 15px;
    margin-top: -8px;
}

#Stars2
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 15px;    
}

#footbox {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

footer
{
    background-color: #F2F2F2;
}