body
{
    font-family: 'Raleway', sans-serif;
}

a:link 
{ 
 text-decoration:none; 
} 

a:hover
{
    color: #0065FC;
    border-top: 5px #0065FC solid;
    padding-top: 25px;
}

a
{
    color: black;
}

.Marge
{
    padding-right: 30px;
    padding-left: 30px;
}


#Intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Navigation
{
    display: flex;
    line-height: 31px; 
    flex-direction: row;
    list-style: none;
    margin-left: 50%;
    width: 20%;
    justify-content: space-between;
    
}

.Inscription
{
    font-weight: bold;
    color: #0065FC;
    line-height: 30px;
}

h1 
{
    color:black;
    font-size: 20px;
}

#Barre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    width: 20%;
    background-color: white;
    height: 50px;
    }

.logo1
{
    background-color: #F2F2F2;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.recherche
{
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="search"]
{
    height: 52px;
    border: 1px #F2F2F2 solid;
}

#Filtres
{
    display: flex;
    flex-direction: row;
    
    height: 54px;
}

.Gras
{
    font-weight: bold;
    margin-right: 20px;
}

.FiltrePosition
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px #F2F2F2 solid;
    border-radius: 70px;
    background-color: white;   
    padding-right: 20px;
    margin-right: 20px;
}

.FiltreLogo
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #F2F2F2;
    margin-right: 20px;
    font-size: 20px;
    padding-right: 1px;
}
#Infos
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 37%;
}

.logoi
{
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

#Partie1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 620px;
}

h2
{
    font-size: 17px;
    padding-left: 20px;
}

.TitreImage
{
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px
}

.TexteImage
{
    font-size: 12px;
    margin-left: 5px;
}

.img1
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
#Bloc1
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    width: 60%
    
}
.BlocType
{
    line-height: 5px;
    border: 3px white solid;
    width: 28%;
    border-radius: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: 6px 6px 30px grey;
}

#Stars
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: -14px;
    margin-left: 5px;
}

.FullStars
{
    color: #0065FC;
}

.EmptyStars
{
    color: #F2F2F2;
}

.AlignImages
{
    display: flex;
    flex-direction: row;
}

.BottomBlock1
{
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
}
.TitleAlign
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#Bloc2
{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
}

.BlocType2
{
    background-color: white;
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 20px 20px;
    margin: 25px;
    height: 110px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 30px grey;
    width: 80%;
}

.AlignImage2
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img2
{
    border-radius: 20px 0px 0px 20px;
    width: 35%
}

.txtalign2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.TitreImage2
{
    font-weight: bold;
    font-size: 14px;
    margin-left: 15px;
}

.TexteImage2
{
    font-size: 12px;
    margin-left: 15px;
    margin-top: -8px;
}

#Stars2
{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 15px;    
}

h3
{
    font-size: 17px;
    margin-top: 40px;
}

.CadreType1
{
    line-height: 5px;
    border: 3px white solid;
    width: 20%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 30px grey;
    margin-bottom: 40px;
    
}

.CadreType2
{
    line-height: 5px;
    border: 3px white solid;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 30px grey;
    margin-bottom: 40px;
    
}

.Colonne
{
    width: 20%;
}

#Partie2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.img3
{
    border-radius: 20px 20px 0px 0px;
    height: 102px;
    width: 100%;
}

.TitreImage3
{
    font-weight: bold;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 20px;

}

#footbox {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

footer
{
    background-color: #F2F2F2;
}

h4
{
    font-size: 14px;
}

.p1
{
    font-size: 14px;
    line-height: 30px;
}

.p2
{
    font-size: 14px;
    line-height: 30px;
}

.p3
{
    font-size: 14px;
    line-height: 30px;
}

@media all and (max-width: 1080px)
{
    #Intro
    {
        display: flex;
        flex-direction: row; 
    }

    .Menu
    {
        font-size: 50px;
    }

    h1
    {
        font-size: 50px;
        margin-top: 80px;
    }

    p
    {
        font-size: 25px;
    }

    .Navigation
    {
        margin-top: 150px;
        margin-left: -82%;
    }

    a
    {
        margin-right: 100px;
        margin-left: 87px;
    }

    a:hover
    {
        color: #0065FC;
        border-bottom: 5px #0065FC solid;
        border-top: none;
    }

    #Barre
    {
        margin-top: 50px;
        display: flex;
        align-items: center;
    }

    #Filtres
    {
        display: flex;
        flex-direction: column;
        align-items: start, center;  
    }

    .FiltrePosition
    {
        font-size: 40px;
        width: 70%;
        height: 120px;
        margin-bottom: 40px;
        border-radius: 100px;
        border: 5px #F2F2F2 solid;
    }

    .FiltreLogo
    {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        margin-right: 60px;
    }

    #Infos
    {
        margin-top: 85%;
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: left;
    }

    .logoi
    {
        font-size: 40px;
        border: 2px #F2F2F2 solid;
        border-radius: 100px;
        width: 70px;
        height: 70px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .Gras
    {
        font-size: 40px;
    }

    #Partie1
    {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 483%;
    }

    #Bloc2
    {
        width: 95%;
        margin-bottom: 5%;
    }

    #Bloc1
    {
        width: 95%;
       
    }

    .AlignImages
    {
        display: flex;
        flex-direction: column;
    }

    .BlocType
    {
       width: 90%;
       height: 500px;
       border: 10px white solid;
       margin-left: 30px;
    }

    .img1
    {
        height: 300px;
    }

    .TitreImage
    {
        font-size: 40px;
    }

    .TexteImage
    {
        font-size: 30px;
    }

    #Stars
    {
        font-size: 30px;
    }

    .BottomBlock1
    {
        font-size: 30px;
    }

    #Partie2
    {
        display: flex;
        flex-direction: column;
    }

    .TitleAlign
    {
        font-size: 50px;
    }

    h2
    {
        font-size: 50px;
    }

    .TitreImage2
    {
        font-size: 40px;
    }

    .TexteImage2
    {
        font-size: 30px;
    }

    #Stars2
    {
        font-size: 30px;
    }

    .BlocType2
    {
        width: 90%;
        height: auto;
        border: 10px white solid;
    }

    .CadreType1
    {
        width: 100%;
    }

    .Colonne
    {
        width: 100%;
    }

    .CadreType2
    {
        width: 100%;
    }

    #footbox
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
    }

    h4
    {
        font-size: 30px;
    }

    .p1
    {
        font-size: 29px;
        line-height: 100px;
    }

    .p2
    {
        font-size: 29px;
        line-height: 100px;
    }

    .p3
    {
        font-size: 29px;
        line-height: 100px;
    }
}